.main-section {
  display: flex;
  margin-left: 115px;
  margin-top: 61px;
  column-gap: 40px;
}

.heading,
.author-decription {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(33, 37, 41);
}

.author-decription {
  width: 642px;
  margin-top: 22px;
  line-height: 24px
}

.author-photo {
  height: 300px;
  width: 400px;
  border-radius: 45px;
}

@media (max-width: 1025px) {
  .main-section {
    margin-left: 6px;
    margin-top: 62px;
    column-gap: 12px;
  }

  .author-decription {
    width: 494px;
  }

  .author-photo {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 769px) {
  .main-section {
    margin-left: 6px;
    margin-top: 60px;
    column-gap: 12px;
  }

  .heading {
    font-size: 28px;
  }

  .author-decription {
    width: 366px;
  }

  .author-photo {
    width: 366px;
    height: 274px;
  }
}

@media (max-width: 426px) {
  .main-section {
    flex-direction: column;
    row-gap: 20px;
    margin-left: 6px;
    margin-top: 42px;
  }

  .heading {
    font-size: 24px;
  }

  .author-decription {
    width: 413px;
  }

  .author-photo {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 376px) {
  .main-section {
    flex-direction: column;
    row-gap: 20px;
    margin-left: 6px;
    margin-top: 42px;
  }

  .heading {
    font-size: 24px;
  }

  .author-decription {
    width: 363px;
  }

  .author-photo {
    width: 363px;
    height: 272px;
  }
}


@media (max-width: 321px) {
  .main-section {
    flex-direction: column;
    row-gap: 20px;
    margin-left: 6px;
    margin-top: 42px;
  }

  .heading {
    font-size: 24px;
  }

  .author-decription {
    width: 300px;
  }

  .author-photo {
    width: 308px;
    height: 231px;
  }
}